<div class="main">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 ">
                <button class="btn editBtn">
                    تعديل
                <i class="pi pi-file-edit px-1"></i>
                </button>
            </div>
            <div class="col-md-6  text-end d-flex flex-row justify-content-end align-items-center">
                <div class="ticketNumber d-flex justify-content-center align-items-center ">
                    <span class="px-2">تذكرة رقم #2342 </span>
                    <div class="icon-div  text-center d-flex justify-content-center align-items-center">
                        <div class="icon">
                            <i class="fa-solid fa-arrow-right text-center"></i>
    
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>