@import "primeicons/primeicons.css";
@font-face {
    font-family: 'Neo Sans Arabic';
    src: url(assets/fonts/NeoSansArabic.ttf);
}
body{
    background-color: #F3F5F7;
    font-family: 'Neo Sans Arabic';
}